*{padding: 0; margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%; font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style:none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: inherit;}

body{
    font-size: 15px;
    height: 100%;
    width: 100%;
}

.header {
   
}


.component {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
		&_log {
            padding: 10px 0px 0px 10px;
		}

		&_menu {

           
		}

		&_list {
            display: flex;
           & li{
            padding: 20px 14px;
           }
		}

		&_child1 {
		}

		&_child2 {
		}

		&_child3 {
		}
}

.content {
    margin: 25px 0px;
    padding:52px 25px;
    
 }
.container {
    margin: 30px;
    box-shadow: 2px 3px 5px 5px #000;
    text-align: justify;
    
}

.block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    &_img {
        & img{
            background-size: cover;
           max-width: 650px;
        max-height:800px;
        }
        max-width: 1000px;
        max-height: 1000px;
    }

    &_text {
        margin: 80px 0px 40px 0px;
        padding: 80px 0px 40px 0px;
        max-width: 500px;
        text-align: justify;
    }

    &_button {
    }
}

.box {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;

    &_img {
        & img{
            background-size: cover;
           max-width: 600px;
        max-height:800px;
        }
        max-width: 1000px;
        max-height: 1000px;
    }

    &_text {
        margin: 80px 0px 40px 0px;
        padding: 80px 0px 40px 0px;
        max-width: 500px;
        text-align: justify;
    }

    &_button {
        
    }
}


.ladder {
  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    & div{
        padding: 25px;
    }
}




.stail-one {
    max-width: 450px;
   position: relative;
   bottom: 60px;
    &_foto {
        & img{
        background-size: cover;
        max-width: 400px;
     max-height:500px;
        }
     max-width: 400px;
     max-height: 500px;
    }

    &_title {
    }

    &_text {
    }
}
.stail-two_titles{

}

.stails-content {
    max-width: 450px;
    position: relative;
    top: 20px;
   
    
}
.stail-two {
    
		&_foto {
            & img{
                background-size: cover;
                max-width: 100px;
             max-height:100px;
                }
             max-width: 100px;
             max-height: 100px;
		}

		&_title {
		}

		&_text {
		}
}
.stail-three {

		&_foto {
            & img{
                background-size: cover;
                max-width: 100px;
             max-height:100px;
                }
             max-width: 100px;
             max-height: 100px;
		}

		&_text {
		}
}
.stail-box {
    max-width: 450px;
    position: relative;
    top: 160px;
    
}
.stail-four {
    

		&_foto {
            & img{
                background-size: cover;
                max-width: 100px;
             max-height:100px;
                }
             max-width: 100px;
             max-height: 100px;
		}

		&_title {
		}

		&_text {
		}
}
.stail-five {

		&_foto {
            & img{
                background-size: cover;
                max-width: 100px;
             max-height:100px;
                }
             max-width: 100px;
             max-height: 100px; 
		}

		&_title {
		}

		&_text {
		}
}

.boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box1 {
    max-width: 500px;
    & div{
        margin: 25px 0px 0px 0px;
    }

		&_home1 {
		}

		&_texts {
		}

		&_home2 {
		}

		&_home3 {
		}
}
.box2 {
    max-width: 500px;
    & div{
        margin: 25px 0px 0px 0px;
    }
		&_gif {
		}

		&_home1 {
		}

		&_texts {
		}

		&_home2 {
		}
}





div{
    font-size: 30px;
    @media (max-width:767px) {
        font-size: 20px;
    }
}