*{padding: 0; margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%; font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style:none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: inherit;}

body{
    font-size: 15px;
    height: 100%;
    width: 100%;
}

.header {
   
}


.component {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
		&_log {
            padding: 10px 0px 0px 10px;
		}

		&_menu {

           
		}

		&_list {
            display: flex;
           & li{
            padding: 20px 14px;
           }
		}

		&_child1 {
		}

		&_child2 {
		}

		&_child3 {
		}
}
.contante {
}

.container {
    margin: 30px;
    box-shadow: 2px 3px 5px 5px #000;
}

.block {
    display: flex;
    justify-content: space-around;
    
    &_img {
        max-width: 500px;
    }

    &_text {
        max-width: 500px;
    }

    &_button {
    }
}









div{
    font-size: 30px;
    @media (max-width:767px) {
        font-size: 20px;
    }
}